* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: pink;
  --accentColor: gray;
  --fontColor: #282c34;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: white;
}
h1 {
  font-size: 2rem;
  padding: 20px;
}
/* display word */
h2 {
  color: var(--mainColor);
  background-color: var(--accentColor);
  padding: 0 15px;
  margin: 20px;
  border-radius: 15px;
}
h5 {
  padding: 10px;
}
.possible-words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h3 {
  font-size: 1.75rem;
  margin: 10px;
  color: p;
}
h5 {
  font-size: 1rem;
}
.word {
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px 5px;
  background: var(--mainColor);
  color: var(--fontColor);
  border-radius: 15px;
}
.definition {
  font-size: 1rem;
  padding: 10px;
  margin: 10px 20px;
  background: var(--mainColor);
  color: var(--fontColor);
  border-radius: 15px;
}
form {
  height: 50px;
  font-size: 1.5rem;
  width: 95%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}
input {
  font-size: 1.5rem;
  width: 80%;
  padding: 5px 20px;
  border-radius: 25px 0 0 25px;
  border: none;
}
input:focus {
  outline: none;
}
button {
  font-size: 1.5rem;
  width: 19%;
  border-radius: 0 25px 25px 0;
  border: none;
  background-color: lightgray;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
